*{
	padding:0;
	border:0;
	margin:0;
}

#logo{
	height: 7vh;
	width: 10vw;
	float: left;
	background: black;
	margin-left: 3vw;
	margin-bottom: 3vh;
	margin-top: 3vh;
}

#menu{
	height:3vh;
	width: 30vw;
	float: right;
	margin-right: 3vw;
	margin-top: 5vh;
	margin-bottom: 3vh;
}

.menuItems{
	float: right;
	/*height: 2vh;*/
	width: 8vw;
/*	margin-top: auto;*/
	background: black;
	margin-left: 2vw;
	list-style-type: none;

}

#main{
	height:56.7vh;
	width: 94vw;
	background: black;
	margin-left: 3vw;
	margin-right: 3vw;
	clear: both;
}

#logo2{
	height: 3vh;
	width: 17vw;
	float: left;
	background: black;
	margin-left: 3vw;
	margin-bottom: 3vh;
	margin-top: 5vh;

}

#longbox{
	height: 28.3vh;
	width: 44vw;
	float: left;
	background: black;
	margin-left: 3vw;
	margin-top: 3vh;
	margin-bottom: 5vh;
	clear:both;
}

#leftsmall{
	height: 28.3vh;
	width: 22vw;
	float: left;
	background: black;
	margin-left: 3vw;
	margin-right: 3vw;
	margin-top: 3vh;
}

#rightsmall{
	height: 28.3vh;
	width: 22vw;
	float: right;
	background: black;
	margin-right: 3vw;
	margin-top: 3vh;
}
