*{
	padding:0;
	border:0;
	margin:0;
}

#logo{
	height:3vh;
	width: 15vw;
	float: left;
	background: black;
	margin-left: 3vw;
	margin-top: 3vh;
}

#menu{
	height:3vh;
	width: 30vw;
	float: right;
	margin-right: 3vw;
	margin-top: 3vh;
	margin-bottom: 3vh;
}

.menuItems{
	float: right;
	width: 4vw;
	background: black;
	margin-left: 2vw;
	list-style-type: none;

}

#main{
	height:56.7vh;
	width: 94vw;
	background: black;
	margin-left: 3vw;
	margin-right: 3vw;
	clear: both;
}

#left{
	height: 28.3vh;
	width: 45.5vw;
	float: left;
	background: black;
	margin-left: 3vw;
	margin-top: 3vh;
}

#right{
	height: 28.3vh;
	width: 45.5vw;
	float: right;
	background: black;
	margin-right: 3vw;
	margin-top: 3vh;
}

/* NOTE: FLOAT LEFT AND RIGHT; */